@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Kdam Thmor Pro', sans-serif;
    background: url(./images/HULFXDI2XTKZ6CI3XAV6U6RDPA.jpg);
    color: #fff;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid #6f6f6f;
    background: url(./images/Gear-Rant-Game-Family-Plans-1334436001.webp);
}

nav h1 {
    color: black;
    font-size: 30px;
    color: red;
}

nav a {
    text-decoration: none;  
    color: black;
    margin-right: 10px;
    border-bottom: 1px solid black; 
    color: red;
}

nav .onglets {
    margin-top: 3px;
    margin-left: 300px;
    color: #fff;
}


header {
    display: flex;
    flex-direction: column;
    align-items: center; 
    color: #fff;
}

/* pas moi  */

  /* fin de pas moi   */

  .main { 
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main .contenu .NosJoueurs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
  }

  .main .contenu .NosJoueurs .left {
    flex: 0 0 30%;
    padding: 20px;
    background-color: black;
    color: #fff;
  }

  .main .contenu .NosJoueurs.Right {
    flex: 0 0 70%;
  }

.main .contenu .NosJoueurs .img {
  margin-top: 5px;
  height: 600px;
  width: 300px;
}

.main { 
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main .contenu .NosJoueurs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.main .contenu .NosJoueurs .left {
  flex: 0 0 30%;
  padding: 20px;
  background-color: black;
  color: #fff;
}

.main .contenu .NosJoueurs.Right {
  flex: 0 0 70%;
}

.main .contenu .NosJoueurs .img {
margin-top: 5px;
height: 600px;
width: 300px;
}

#imgret img {
  height: 500px;
  width: 400px;
}

#Titu {
  color: red;
}

 #VRAI {
  background: red;
  color: #fff;
  font-size: 15px;
  margin-left: 80px;
 }

 #VRAIbutton::after {
  background-color: #6f6f6f;
}


 #VRAI:hover {
  background-color: #6f6f6f;
  color: red;
 }


 