@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Kdam Thmor Pro', sans-serif;
    background: url(./images/Footbal_Fire_Stadium_Legs_Ball_Athletic_shoe_Lawn_563459_3840x2160.jpg);
    color: #fff;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid #6f6f6f;
    background: url(./images/banniere-test-fifa-20.jpg);
}

nav h1 {
    color: black;
    font-size: 30px;
    color: #fff;
}

nav a {
    text-decoration: none;  
    color: black;
    margin-right: 10px;
    border-bottom: 1px solid black; 
    color: #fff;
}

nav .onglets {
    margin-top: 3px;
    margin-left: 300px;
    color: #fff;
}


header {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

/* pas moi  */
button {
    padding: 20px 50px;
    font-size: 1.5rem;
    cursor: pointer;
    border: 0px;
    background: transparent;
    position: relative;
    transition: all .2s;
    overflow: hidden;
    color: #fff;
    border-radius: 30px;
    box-shadow: 0px -0px 0px 0px rgba(143, 64, 248, .5), 0px 0px 0px 0px rgba(39, 200, 255, .5);
  }

  button::after {
    content: '';
    width: 400px;
    height: 400px;
    position: absolute;
    top: -50px;
    left: -100px;
    background-image: linear-gradient(225deg, #27d86c 0%, #26caf8 50%, #c625d0 100%);
    z-index: -1;
    transition: all .5s;
  }

  button:hover::after {
    transform: rotate(150deg);
  }
  
  button:hover {
    transform: translate(0,-6px);
    box-shadow: 10px -10px 25px 0px rgba(143, 64, 248, .25), -10px 10px 25px 0px rgba(39, 200, 255, .25);
  }

  /* fin de pas moi   */

  .main { 
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main .contenu .NosJoueurs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
  }

  .main .contenu .NosJoueurs .left {
    flex: 0 0 30%;
    padding: 20px;
    background-color: black;
    color: #fff;
  }

  .main .contenu .NosJoueurs.Right {
    flex: 0 0 70%;
  }

.main .contenu .NosJoueurs .img {
  margin-top: 5px;
  height: 600px;
  width: 300px;
}

.main { 
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main .contenu .NosJoueurs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.main .contenu .NosJoueurs .left {
  flex: 0 0 30%;
  padding: 20px;
  background-color: black;
  color: #fff;
}

.main .contenu .NosJoueurs.Right {
  flex: 0 0 70%;
}

.main .contenu .NosJoueurs .img {
margin-top: 5px;
height: 600px;
width: 300px;
}

#imgret img {
  height: 500px;
  width: 400px;
}